body 
{
	text-align: center;
} 
h1 
{
	font-style: italic;
	font-size: 30px;
	color: black;
	background-color: pink;
	text-align: center;
}
h2 
{
	font-family: "Arial";
	text-align: right;
	color: orange;
	background-color: gray;
	text-align: center;
}
h3
{
	color: lightblue;
	font-stretch: 9;
	font-style: italic, bold;
	background-color: darkblue;
	text-align: center;
}
h4
{
	color: lightblue;
	font-stretch: 9;
	font-style: italic, bold;
	background-color: gray;
	text-align: center;
}
p 
{
	color: lightblue;
	font-stretch: 9;
	font-style: italic, bold;
	background-color: darkblue;
	text-align: center;
}
a 
{
	width: 30%;
	height: 500px;
	text-decoration: none;
	text-align: right;
}
